<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Exercises</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="assets/css/main.css" rel="stylesheet">

</head>
<style>

</style>

<body>


  <!-- <header id="header" class="header d-flex align-items-center"
    style="color: black;">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 style="color: black;">Impact<span>.</span></h1>
      </a>
    </div>
  </header> -->
  <!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url(https://uploads-ssl.webflow.com/5fcb2889e022836507a7f615/6011f7c33d335e3e3675a9b0_article-4-bg.jpeg);
      /* opacity: 0.7; */
      height: 400px;
      color: black;">
        <div class="container position-relative" style="opacity: 1;">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center"
              style="padding: 7px; border-radius: 20px; background-color: rgb(240, 236, 236);">
              <h2 style=" color: black;">Exercises </h2>
              <p style="color: black;">Here are the few Yoga poses which will help you to stay fit as well as healthy. You can exercise by following the instructions that is being displayed on the screen. Make sure you do Yoga everyday in the morning.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
    <!-- End Breadcrumbs -->



    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/bhujangasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                  <ul style="text-align: left;">
                    <li>Lie on the stomach and strengthen your legs properly.</li>
                    <li>Place the arms just outside the chest.Place the elbows outward.</li>
                    <li>While breathing slowly raise the forehead first,the neck and shoulder.</li>
                    <li>Now, slowly move the neck towards your back, so that your posture resembles a cobra or a snake. Breathe through the nose and look upward. Place the weight on your back and keep your chest wider enough.</li>
                    <li>Hold for 20-25 seconds.</li>
                    <li>Now slowly return to the cobra pose. Remember to exhale properly then bring the chest, shoulder, navel, and forehead down.</li>
                    <li>Place the hands under the head and rest for 30 seconds.
                    </li>
                    <li>Repeat this bhujangasana at least 5 times!</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>
        </div>



        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/chakrasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li>Lie down on your back with feet apart, bend your knees and place your feet on the ground close to
                    your body.</li>
                  <li>Now bring your palms under your shoulders such that the fingers point towards the shoulders and
                    the elbows are shoulder-width apart.</li>
                  <li>Inhale and press your palms firmly into the floor.</li>
                  <li>Lift your shoulders and elbow firmly into the floor</li>
                  <li>Your Feet should be pressed firmly into the floor.</li>
                  <li>Inhale and lift your hips up.</li>
                  <li>The spine should be rolled up so that it may seem to resemble a semi-circular arch or
                    wheel.</li>
                  <li>Straighten out your arms and legs as much as possible so that the hips and chest may be pushed up.
                  </li>
                  <li>Hold this pose for at least 15-30 seconds.</li>
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>




        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/Dhanurasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li> Lie flat on your stomach, with your arms placed beside your body and feet hip-width apart
                    Now, gently fold your knees, and try to place your ankles on your buttocks</li>
                  <li>Hold your ankles with your hands</li>
                  <li>Try to lift your thighs and chest off the ground, as high as possible</li>
                  <li>Now try to maintain this position for about 30-60 seconds</li>
                  <li>To get out of the posture, leave your ankles and lay straight again</li>
                  <li>Relax for some time, Repeat
                  </li>


                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>


        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/halasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">Lie on the back with legs close together and arms closer to the body. Place the palms on the floor and take a couple of deep breathes.</li>
                  <li>Raise the arms and support the back with the palms. Breathe normally. Keep the position as long as it is comfortable.</li>
                  <li>In one of the variations of this pose, hands are kept on the floor with palms facing the floor.</li>
                  <li>In yet another variation, arms goes over the head and catch hold of the toes.</li>
                  <li>To release the position, bring back the arms to the floor and raise the legs and lowering the back roll over to the initial position.</li>
                  
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>





        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/nataranjasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">First of all, one should stand erect.</li>
                  <li>Raise either the leg; bend it at the knee; and take it behind the back as high as possible.
                    However, do as per own capacity. Don’t take more strain while raising the leg.</li>
                  <li>Now, raise both hands up, take them back and hold the toes of the raised foot with both hands
                    above the head as high as possible.</li>
                  <li>Keep your head erect and look at the front.</li>
                  <li>Maintain the pose as long as you can do.</li>
                  <li>Return to the original position.</li>
                  <li>The same thing does with another leg.</li>
                  <li>It completes one round.</li>
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>




        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/sarvangasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">Lie down in the supine position or lying on your stomach.</li>
                  <li>Raise your legs slowly upward and bring it to a 90° angle.</li>
                  <li>Bring the legs towards the head by raising the buttocks up.</li>
                  <li>Raise the legs; abdomen and chest try to form a straight line.</li>
                  <li>Place the palms on your back for support.</li>
                  <li>Place the chin against the chest.</li>
                  <li>Maintain the position as long as comfortable.</li>
                  <li>Try to maintain the pose for up to 30 seconds or more.</li>
                  <li>Slowly return back to the original position.</li>
                  <li>While doing this, first lower the buttocks with hands supporting the back and slowly come to the
                    surface or in the original position.</li>
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>

        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/uttanasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">Take a standing position; keep your feet and shoulder distance apart
                    and parallel to each other.</li>
                  <li>Press your feet down in to the ground and ground yourself powerfully.</li>
                  <li>Now breathe out and gently bend down from the hips (not the waist) and place your chest and
                    stomach on your thighs.</li>
                  <li>If you are a beginner, you ought to bend your knees slightly to accomplish this.</li>
                  <li>If your knees are bent, make sure that they’re straight over your toes.</li>
                  <li>Slowly begin to straighten out your legs however check that your chest and abdomen never leave
                    your thighs.</li>
                  <li>Now elevate your hips as you straighten through your hamstring muscles all whereas pressing your
                    heels into the ground.</li>

                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>


        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/shalabhasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">Lie down on your Stomach; place both hands underneath the thighs.</li>
                  <li>Breath in (inhale) and lift your right leg up, (your leg should not bend at the knee).</li>
                  <li>Your chin should rest on the ground.</li>
                  <li>Hold this position about ten to twenty seconds.</li>
                  <li>After that exhale and take down your leg in the initial position.</li>
                  <li>Similarly do it with your left leg.</li>
                  <li>Repeat this for five to seven times.</li>
                  <li>After doing it with the left leg, inhale and lift your both legs up (Your legs should not bend at the knees; lift your legs as much as you can).</li>
                  <li>With both legs repeat the process for two to four times.</li>
                
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>


        <div class="row gy-4 posts-list" style="display: flex; text-align: center; width: 4000px; margin: 10px; ">
          <div class="col-xl-4 col-md-6 " style="margin-right: 10px;">
            <article style="background-color: aliceblue;">
              <div style="float: left; width: 45%;">
                <img src="assets/yoga/paschimottanasana.gif" alt=" hello" class="img-fluid">
              </div>
              <div class="txt" style="float: right; width: 45%;">
                <h2 class="title">
                  <a href="">Steps</a>
                </h2>
                <p>
                <ul style="text-align: left;">
                  <li style="padding: 0;margin: 0;">Sit up with the legs stretched out straight in front of you on the floor.</li>
                  <li>Keep the spine erect and toes flexed towards you.</li>
                  <li>Bring your respiration to normal.</li>
                  <li>Breathing in, slowly raise both the arms straight above your head and stretch up.</li>
                  <li>Slowly breathe out and bend forward from the hip joint, chin moving toward the toes keeping the spine erect.</li>
                  <li>Place your hands on your legs, wherever they reach, without putting much effort.</li>
                  <li>If possible hold of your toes and pull on them to help you go forward.</li>
                  <li>Stay in this position as long as possible.</li>
                  <li>After the exertion limit reached inhale and raise up stretching up your arms straight above your head.</li>
                  <li>Breathe out and bring your arms down placing the palms on the ground.</li>
                  <li>Relax for a while and try to feel the changes that occurred in the body.</li>
                </ul>
                </p>
              </div>
            </article>
          </div>
        </div>




      </div>

    </section><!-- End Blog Section -->

  </main>
  <!--=======Footer=======-->
  <footer id="footer" class="footer" style=" background-color: bisque; color: black;">

    <div class="container">
      <div class="row gy-4" style="color: black;">
        <div class="container mt-4">
          <div class="copyright">
            &copy; Copyright <strong><span>Mindcare</span></strong>. All Rights Reserved
          </div>

        </div>
      </div>
    </div>



  </footer>
  <!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/qng.js"></script>

</body>

</html>